
</div>

<main class='splash-header'>
  <div class='container'>

  <div class="jumbotron">
  <h1>Xikipedia</h1>
  <p>A Super Simple Wiki!</p>
  <p>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> today!
  </p>
  </div>
</div>
</main>

<div class='container'>

  <div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Xikipedia will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Xikipedia will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Xikipedia will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
  </div>

